// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bttn-blue {
  background-color: #457AB2;
  border-radius: 10px;
}

.text-box {
  border-radius: 10px
}
